.container{
    background: rgb(106, 185, 250);
    display: flex;
    padding: 17px 50px ;
    justify-content:space-between;
    align-items: center;
      box-shadow: 2px 7px 7px grey;

}
.inputtag{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    background: rgb(241, 227, 227);
}
.userData{
    display: flex;
}

.userData li{
    list-style: none;
    color: white;
    margin: 0 15px;
}
.logo{
    color: rgb(235, 79, 79);
    font-weight: 900;
    font-size: 25px;
    
}
.btn{
    border-radius: 5px;
    background-color: aliceblue;
    padding: 4px 10px;
    margin: 0 15px;
    font-weight: 600;
    color: rgb(95, 94, 94);
    border: none;
}